* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

/*Contenedor tipo glass */
.container {
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

/*Display contraseña */
.display input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    background: #1f2937;
    color: #22ff88;
    letter-spacing: 1px;
}

.display button {
    padding: 12px;
    border: none;
    border-radius: 0 10px 10px 0;
    background: #22ff88;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.display button:hover {
    background: #18cc6d;
}

/*Slider*/
.settings label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 15px;
}

/*Ociones */
.options label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.options input {
    margin-right: 8px;
}

/*Fuerza */
.strength {
    margin: 15px 0;
    padding: 10px;
    border-radius: 8px;
    background: #1f2937;
    text-align: center;
    font-weight: bold;
}

/* Botón generar */

